{% extends "main.html" %}

{% block title %}Detecting Shapes{% endblock title %}

{% block content %}
    <h2 class="text-2xl font-bold mb-8">Detectar formas y contornos</h2>
    <div class="mx-auto flex items-center justify-center p-4">
        <div class="flex flex-wrap justify-center gap-4">
            <a href="{% url "shapes_triangle" %}" class="cursor-pointer w-64 bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1 hover:bg-green-100 space-y-2">
                <i class="fa-regular fa-2x fa-images"></i>
                <h3 class="text-lg font-semibold text-gray-800">Reducir imágenes</h3>
            </a>
            <a href="{% url "shapes_circle" %}" class="cursor-pointer w-64 bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1 hover:bg-green-100 space-y-2">
                <i class="fa-solid fa-2x fa-bolt"></i>
                <h3 class="text-lg font-semibold text-gray-800">Expandir imágenes</h3>
            </a>
            <a href="{% url "shapes_contours" %}" class="cursor-pointer w-64 bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1 hover:bg-green-100 space-y-2">
                <i class="fa-solid fa-2x fa-camera-rotate"></i>
                <h3 class="text-lg font-semibold text-gray-800">Rotar imagen</h3>
            </a>
            <a href="{% url "shapes_convex" %}" class="cursor-pointer w-64 bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1 hover:bg-green-100 space-y-2">
                <i class="fa-solid fa-2x fa-minimize"></i>
                <h3 class="text-lg font-semibold text-gray-800">Redimensionar imagen</h3>
            </a>
            <a href="{% url "shapes_watershed" %}" class="cursor-pointer w-64 bg-white rounded-lg shadow-md p-6 flex flex-col items-center transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1 hover:bg-green-100 space-y-2">
                <i class="fa-solid fa-2x fa-hat-wizard"></i>
                <h3 class="text-lg font-semibold text-gray-800">Transformaciones affines</h3>
            </a>
        </div>
    </div>
{% endblock content %}